/*****************************/
/* This is where you will 
/* place any css code for 
/* this project             */
/*****************************/
.first-section {
    background: rgb(66, 68, 66);
    padding: 15px 0 ;
}
.first-section a {
    color: #FFF;
}

.row {
    margin-bottom: 15px;
}

.list-inline {
    margin-bottom: 0;
}

#S1 {
    background-color: red;
    color: black;
}

#S2 {
    background-color: blue;
    color: white;
}

#S3 {
    color: #333;
}