/*****************************/
/* This is where you will 
/* place any css code for 
/* this project             */
/*****************************/
.first-section {
    background: rgb(66, 68, 66);
    padding: 15px 0 ;
}
.first-section a {
    color: #FFF;
}

.row {
    padding: 15px 0 ;
}

.list-inline {
    margin-bottom: 0;
}

#s1 {
    background: rgb(255, 0, 0);
    color: black;
}

#s2 {
    background: blue;
    color: white;
}

#s3 {
    color: #333;
}